:root{
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #011a33;
    padding: 0.5rem;
    border-bottom: #000000 1.5px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 0; 
    width: 100%;    
    z-index: 1000;;
}

.header a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.header a:hover {
    color: #0074D9;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #001f3f;
    color: #ffffff;
}

h1, h2, h3 {
    margin-bottom: 5rem;
}

a {
    color: #7FDBFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.section-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    margin-right: 20rem;
    margin-left: 20rem;
    margin-bottom: 5rem;
}


.intro {
    margin-top: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.intro h1 {
    overflow: hidden;
    border-right: .1em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

  .section-intro img {
    margin-top: 10rem;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #d8dcff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.actions {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
}

.actions a {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-image: linear-gradient( to right, #2d8adb, #174f86);
    color: #ffffff;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    border: 1px;

}

.actions a:hover {
    background-image: linear-gradient( to right, #174f86, #002444);
    transform: scale(0.95);
    transition: background-image 0.5s ease, transform 0.2s ease;
}

.section-about {
    scroll-margin-top: 4rem;
    margin-bottom: 10rem;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
}

.about-text {
    max-width: 700px;
    text-align: center;
}

.section-technologies {
    scroll-margin-top: 4rem;
    margin-bottom: 4rem;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 832px;
}

.box {
    position: relative;
    text-align: center;
    background-color: #11273d; 
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    color: #ffffff;
    font-weight: bold;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7); 
    background-color: #014785;
    cursor: pointer;
}

.box img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
    border-radius: 20%;
}

.section-projects {
    scroll-margin-top: 4rem;
    margin-bottom: 4rem;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
}

.project-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.project-box {
    position: relative;
    text-align: center;
    background-color: #11273d; 
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    color: #ffffff;
}

.section-contact {
    scroll-margin-top: 4rem;
    margin-bottom: 4rem;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 15rem;
    padding: 1rem;
}

.contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 7rem;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.icon:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.contact-icons a {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-icons p {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #8d8d8d;
    position: relative;
}

.contact-icons img {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
}

