:root{
    scroll-behavior: smooth;
}

.intro h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #011a33;
    padding: 0.7rem;
    border-bottom: #000000 1.5px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.header a:hover {
    color: #0074D9;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #001f3f;
    color: #ffffff;
}

h1, h2, h3 {
    margin-bottom: 5rem;
}

a {
    color: #7FDBFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.intro {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    text-align: left;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

.actions a {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: #0074D9;
    color: #ffffff;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    border: 1px  #0074D9;
}

.actions a:hover {
    background-color: #005bb5;
}

.intro img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
}

.about-text {
    max-width: 700px;
    text-align: center;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
}

.technologies img {
    width: 4rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
    max-width: 896px;
}

.box{
    position: relative;
    text-align: center;
    background-color: #000000;
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
}
